{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:jest/recommended",
    "plugin:storybook/recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "no-console": "warn",
    "semi": ["error", "never"],
    "@typescript-eslint/no-non-null-assertion": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "react/prop-types": "off",
    "no-var-requires": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "max-lines": ["warn", { "max": 200 }]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "jest/globals": true,
    "browser": true,
    "amd": true,
    "node": true
  }
}
